*{
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: "Quicksand", sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-optical-sizing: auto;
    font-weight: bold; 
    font-style: normal;
    /* border: 1px solid; */
  }
  body{
    overflow: hidden;
  }
main{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: whitesmoke;
    overflow: none;
    justify-content: center;
}
aside{
    flex: .3;
    display: grid;
    grid-template-rows:50px 1fr 140px ;
    background: white;
    overflow: hidden;
}

.body .content{
    padding: 15px;
}
.body{
    flex: .7;
    display: grid;
    grid-template-rows:50px 1fr;
   
}

aside header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: deepskyblue;
    font-size: xx-large;padding: 15px;
    background: whitesmoke;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.555);
}

aside footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    
}
aside footer button{
    border: none;
    background: red;
    color: whitesmoke;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
}

.body header{
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.body header input{
    border: none;
    background: none;
    padding: 5px 10px;
    width: 95%;
    outline: none;
}
.fa-search{
    margin-left: 10px;
    color: gray;
}

.body header .con{
    background: rgba(0, 0, 0, 0.14);
    width: 70%;
    border-radius: 10px;
    display: flex;align-items: center;
    padding-right: 10px;
}
.content{
    overflow-y: scroll;
}
aside .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}
aside .content .com{
    width: 85%;
    background: rgba(128, 128, 128, 0.367);
    padding: 6px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
}
.dash{
    background: deepskyblue !important;
    color: white;
}
.sec{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.cart{
   
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.222);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.bl{
    background: blue;
}
.gr{
    background: green;
}
.add{
    background: deepskyblue;
    width: fit-content;
    color: white;
    padding: 7px 15px;
    font-size: xx-large;
    margin: 7px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.tb{
    width: 100%;
    /* padding: 15px; */
    text-align: center;
    background: black;
}
td{
    font-weight: 500;
    color: gray;
    background: white;
    padding: 5px;

}
th{
    background: deepskyblue;
    color: white;
    padding: 10px;
}
#menu{
    border: none;
    background: none;
    font-size: large;
    margin: 0 10px;
    display: none;
    width: 80%;
    margin: 7px;
}
#delete{
    background: red;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#edit{
    background: green;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fa{
    cursor: pointer;
}
.hide2{
    border: none;
    background: none;
    font-size: large;
    margin: 0 10px;
    cursor: pointer;
}
.hide{
    border: none;
    background: none;
    font-size: large;
    margin: 0 10px;
    display: none; 
    cursor: pointer;
}

@media (max-width: 850px) {

    #menu{
        display: flex;
    }
    .body{
        flex: 1;
    }
    aside{
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 100%;
        transition: .3s;
    }
   
    
    .hide{
        display: flex;
    }

}

@media (max-width:600px) {
    .tb,tr,td,button{
        font-size: small;
        padding: 5px;
    }
    *{
        font-size: small;
    }
    table button{
        width: 90%;
        margin: 5px 0;
    }
}

#form{
    position: fixed;
    bottom: 0;
    background: white;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    /* width: 80%; */
    /* display: none; */
    border-radius: 10px 10px 0 0;
    overflow-y: scroll;
    /* top: 100%; */
    max-height: 90vh;

}
#form .holder{
    display: grid;
   margin: 10px 0;

}
.holder{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.holder input{
    width: 96%;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.415);
    background: rgba(33, 33, 33, 0.03);
    outline: none;
    font-size: 16px;
    border: none;
}
.holder label{
    color: gray;

}

.table input{
    width: 20%;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.415);
    background: rgba(33, 33, 33, 0.03);
    outline: none;
    font-size: 16px;
    border: none;
}
.table input,
.table span{
    display: block;
}
.table tr td{
    text-align: center;
    
   
}
#form header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: deepskyblue;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}
#form #submit{
    background: deepskyblue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: large;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.163);
    cursor: pointer;
}
.invalid{
    border: 1px solid red;
    color: red;
} 